body {
  background-color: beige;
  display: flex;

  justify-content: center;
}
.flashcard {
  position: absolute;
  top: 150px;
  border: 3px solid coral;
  border-radius: 12px;
  margin: 7px;
  padding: 16px;
  height: 300px;
  width: 800px;
  display: flex;

  text-align: center;
  color: coral;
}
